@import './queries.module';

.formComtainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px 20px 80px;

  @media screen and (min-width: $tablet) {
    // margin: 0px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 20px;
      width: 80%;
    }

    h4 {
      font-size: 1.5rem;
    }

    .uploadProductForm {
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;

      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 16px;
      gap: 16px;

      @media screen and (min-width: $tablet) {
        width: 700px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;

        display: flex;
        flex-direction: row;
        padding: 30px;
        border-radius: 16px;
        gap: 16px;
      }

      .leftSide {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;

        div {
          display: flex;
          flex-direction: column;
          gap: 8px;

          input,
          select,
          textarea {
            height: 40px;
            border-radius: 8px;
            border: 1px solid var(--main-color);
            padding-left: 8px;
          }

          textarea {
            height: 60px;
          }
        }

        .productPic {
          display: flex;
          flex-direction: column;
          width: 100%;

          .productPicInput[type='file'] {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 16px;
            height: 40px;
            border-radius: 8px;
            border: 1px solid var(--main-color);
            padding: 0px;
          }

          .productPicInput::file-selector-button {
            background-color: var(--main-color);
            border: none;
            height: 100%;
            width: 30%;
            cursor: pointer;
          }
        }
      }

      .rightSide {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 24px;
        justify-content: space-between;
        height: 100%;

        .imageContainer {
          width: 270px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--main-color);
          border-radius: 5px;
          height: 200px;

          .productImage {
            height: 100%;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
          }
        }

        button {
          height: 40px;
          background-color: var(--main-color);
          color: var(--secondary-text-color);
          border: none;
          border-radius: 8px;
          cursor: pointer;
          // margin-top: 65px;

          &:hover {
            background-color: transparent;
            border: 1px solid var(--secondary-text-color);
            color: var(--secondary-text-color);
          }

          &:active {
            transform: scale(1.05);
            transition: transform 0.5s ease-in-out;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          }
        }

        .notification {
          width: 100%;
          border-radius: 6px;
          background-color: #313e2c;
          color: #aaec8a;
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
          transform: translateY(30px);
          opacity: 0;
          visibility: hidden;
          animation: fade-in 3s linear;

          .notificationBody {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 16px 8px;
          }

          .notificationProgress {
            width: 100%;
            height: 3px;
            transform: scaleX(0);
            transform-origin: left;
            background: linear-gradient(to right, #313e2c, #aaec8a);
            border-radius: inherit;
            animation: progress 2.5s 0.3s linear;
          }

          @keyframes fade-in {
            5% {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
            95% {
              opacity: 1;
              transform: translateY(0);
            }
          }

          @keyframes progress {
            to {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}
