.formComtainer {
  margin: 0px 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 80px;

  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h4 {
      font-size: 1.5rem;
      font-family: var(--title-text);
    }

    .uploadProductForm {
      width: 500px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;

      display: flex;
      flex-direction: column;
      padding: 30px;
      border-radius: 16px;
      gap: 16px;

      div {
        display: flex;
        flex-direction: column;
        gap: 8px;

        input,
        select,
        textarea {
          height: 40px;
          border-radius: 8px;
          border: 1px solid var(--main-color);
        }

        textarea {
          height: 60px;
        }

        button {
          height: 40px;
          background-color: var(--main-color);
          color: var(--secondary-text-color);
          border: none;
          border-radius: 8px;
          cursor: pointer;

          &:hover {
            background-color: transparent;
            border: 1px solid var(--secondary-text-color);
            color: var(--secondary-text-color);
          }
        }
      }

      .productPic {
        display: flex;
        flex-direction: column;
        width: 100%;

        .productPicInput[type='file'] {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 16px;
        }

        .productPicInput::file-selector-button {
          background-color: var(--main-color);
          border: none;
          height: 100%;
          width: 30%;
          cursor: pointer;
        }
      }

      .imageContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .productImage {
          height: 100%;
          width: 100%;
          border-radius: 8px;
        }
      }
    }
  }
}
