@import '../styles/queries.module';

.shopsPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  gap: 16px;
  min-height: 100vh;

  .shopsPageTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .shopListContainer {
    display: grid;
    gap: 20px;
    padding: 0px 20px;
    grid-template-columns: 1fr;

    @media screen and (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 0px 20px;
    }

    @media screen and (min-width: $laptop) {
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      padding: 0px 50px;
    }

    .shopContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border: 0.5px solid var(--secondary-text-color);
      min-height: 450px;
      padding: 16px;

      &:hover {
        transform: scale(1.05);
        transition: transform 0.5s ease-in-out;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      .link {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .titleContainer {
          display: flex;
          flex-direction: column;

          .shopName {
            font-size: 1.5rem;
            text-align: center;
          }

          .shopLocation {
            text-align: center;
            font-size: 0.8rem;
          }
        }

        .imageContainer {
          width: 100%;
          height: 300px;

          .shopImage {
            width: 100%;
            object-fit: cover;
          }
        }

        .descriptionContianer {
          display: flex;

          .shopDescription {
            line-height: 1.25;
          }
        }
      }
    }
  }
}

// my shop page styling
.myShopContainer {
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .noShopFoundMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 1.25rem;

    .createShopLink {
      font-size: 1rem;
      background-color: var(--main-color);
      padding: 6px 12px;
      border: 1px solid var(--main-color);
      border-radius: 10px;
      cursor: pointer;

      &:active {
        transform: scale(1.05);
        transition: transform 0.5s ease-in-out;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
    }
  }
}

.shopContainer {
  display: flex;

  .shopCard {
    width: 300px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 12px;

    .shopName {
      font-size: 2rem;
      text-align: center;
    }

    .shopImage {
      width: 100%;
      height: 200px;
      border-radius: 5px;
    }

    .shopLink {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      cursor: pointer;
    }
  }
}
