@import './queries.module';

.createShopPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .pageTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40%;
    height: 100%;
    gap: 20px;
    background-color: var(--main-color);

    @media screen and (max-width: $tablet) {
      display: none;
    }

    h1 {
      font-size: 3.5rem;
      color: var(--secondary-text-color);
      font-family: var(--title-text);

      span {
        text-transform: capitalize;
      }
    }

    h4 {
      font-size: 1.5rem;
      font-family: var(--body-text);
      padding: 0px 50px;
      line-height: 1.25;
    }
  }

  .createShopFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 60%;
    height: 100%;
    background-color: white;

    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }

  .createShopForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 0px 200px;

    @media screen and (max-width: $tablet) {
      padding: 0px 20px;
    }

    label {
      display: flex;
      flex-direction: column;

      input,
      textarea {
        width: 100%;
        height: 40px;
        padding-left: 8px;
        background-color: var(--bg-color);
        border-radius: 8px;
        border: none;
      }

      textarea {
        height: 100px;
      }
    }

    // image inout
    .shopPicDiv {
      display: flex;
      flex-direction: column;
      width: 100%;

      .shopPicInput[type='file'] {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        padding-left: 0px;
      }

      .shopPicInput::file-selector-button {
        background-color: var(--main-color);
        border: none;
        height: 100%;
        width: 30%;
        cursor: pointer;
      }
    }

    .imageContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .image {
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      button {
        padding: 8px 30px;
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: var(--main-color);
        color: var(--secondary-text-color);
        cursor: pointer;
        width: 100%;

        &:active {
          transform: scale(1.05);
          transition: transform 0.5s ease-in-out;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
      }
    }

    .notification {
      width: 100%;
      border-radius: 6px;
      background-color: #313e2c;
      color: #aaec8a;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
      transform: translateY(30px);
      opacity: 0;
      visibility: hidden;
      animation: fade-in 3s linear;

      .notificationBody {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 8px;
      }

      .notificationProgress {
        width: calc(100% - 8px);
        height: 3px;
        transform: scaleX(0);
        transform-origin: left;
        background: linear-gradient(to right, #313e2c, #aaec8a);
        border-radius: inherit;
        animation: progress 2.5s 0.3s linear;
      }

      @keyframes fade-in {
        5% {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
        95% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @keyframes progress {
        to {
          transform: scaleX(1);
        }
      }
    }
  }
}
