@import './queries.module';

.profileContainerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 100px 20px 80px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 100px 80px;
  }

  .profilePageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 20px;
    width: 100%;

    @media screen and (min-width: $tablet) {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .profileInfoCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .imageContainer {
        width: 100%;

        @media screen and (min-width: $tablet) {
          width: 100%;
        }

        .profileAvatar {
          width: 100%;
        }

        @media screen and (min-width: $tablet) {
          width: 100%;
        }
      }

      .editButton {
        button {
          background-color: transparent;
          border: none;
          text-decoration: underline;
        }
      }
    }

    .userInfoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      h1 {
        text-transform: capitalize;
        font-size: 1.5rem;

        @media screen and (min-width: $tablet) {
          font-size: 2rem;
        }
      }

      .bioContainer {
        margin-top: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 10px;
      }

      .editForm {
        width: 100%;
      }

      .formContainer {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        div {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;

          label {
            font-size: 0.8rem;
            text-transform: uppercase;
          }

          input {
            width: 100%;
            height: 40px;
          }

          textarea {
            width: 100%;
            height: 80px;
          }
        }

        button {
          height: 30px;
          background-color: var(--secondary-text-color);
          color: white;
          border: none;
        }
      }
    }
  }

  .favouritesContainer {
    width: 100%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    @media screen and (min-width: $tablet) {
      width: 70%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  }
}
