@import './queries.module';

.profileContainerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 20px 20px;
  gap: 40px;

  @media screen and (min-width: $mobileL) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 20px 20px;
    gap: 40px;
    min-height: 93vh;
  }

  @media screen and (min-width: $laptop) {
    padding: 80px 80px 20px;
  }

  // ABOUT SECTION ////////////////////////////
  .profilePageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: $mobileL) {
      width: 25%;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    @media screen and (min-width: $laptop) {
      width: 25%;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .imageContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: $mobileL) {
        border-radius: 10px;
        height: 200px;
        width: 100%;
        overflow: hidden;
      }

      @media screen and (min-width: $laptop) {
        border-radius: 10px;
        width: 100%;
        height: 300px;
        overflow: hidden;
      }

      .profileAvatar {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .editButton {
      margin-top: 16px;
      border: 1px solid var(--main-color);
      width: 100%;
      padding: 6px;
      cursor: pointer;
      border-radius: 5px;
    }

    .nameContainer {
      padding-top: 20px;

      @media screen and (min-width: $laptop) {
        display: flex;
        margin-top: 16px;
      }
    }

    .bioContainer {
      display: flex;
      margin-top: 16px;
      line-height: 1.5;
    }
  }

  // FAVOURITES SECTION ////////////////////////////
  .favouritesContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    @media screen and (min-width: $mobileL) {
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 16px;
      height: 100%;
    }

    @media screen and (min-width: $laptop) {
      width: 75%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      align-items: flex-start;
    }

    .allCards {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media screen and (min-width: $mobileL) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        width: 100%;
      }

      @media screen and (min-width: $laptop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        width: 100%;
      }

      .favouriteShopCard {
        position: relative;
        width: 100%;
        height: 200px;
        border-radius: 10px;

        @media screen and (min-width: $mobileL) {
          height: 150px;
        }

        .shopImageUrl {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 250ms;
          border-radius: inherit;
          cursor: pointer;
        }

        &:hover .shopImageUrl {
          transform: translateY(-5px) scale(0.75);
        }

        &:hover .infoSection {
          z-index: 2;
        }

        .infoSection {
          position: absolute;
          inset: 0;
          display: flex;
          z-index: -1;
          justify-content: space-between;
          align-items: end;
          padding: 0px 40px;

          @media screen and (min-width: $tablet) {
            padding: 0px 30px;
          }

          h1 {
            font-size: 1rem;
            text-transform: capitalize;
          }

          .shopLink {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px 12px;
            background-color: var(--main-color);
            border-radius: 5px;
            font-size: 0.5rem;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            cursor: pointer;

            @media screen and (min-width: $tablet) {
              padding: 4px 6px;
            }
          }
        }

        .deleteButton {
          position: absolute;
          right: 12.5%;
          top: 1%;
          cursor: pointer;

          button {
            background-color: transparent;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
