@import './queries.module';

.footer {
  padding: 20px 0px;
  margin: 0px 20px;
  display: flex;
  border-top: 1px solid black;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    margin: 0px 32px;
  }

  @media screen and (min-width: $laptop) {
    margin: 0px 50px;
  }
  @media screen and (min-width: $desktop) {
    margin: 0px 80px;
  }

  @media screen and (min-width: $desktopL) {
    margin: 0px 150px;
  }

  div {
    display: flex;
    gap: 16px;
  }
}
