@import './queries.module';

.heroSection {
  height: 100vh;
  width: 100vw;
  background-image: url(../../public/images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    padding: 0px;
    justify-content: center;
  }

  h1,
  p,
  .heroLink {
    animation: floatup 2s ease-in-out;
    visibility: hidden;
    animation-fill-mode: forwards;
  }

  h1 {
    font-family: var(--title-text);
    font-size: 2.25rem;
    width: 450px;

    @media screen and (max-width: $mobileL) {
      font-size: 2rem;
      width: 350px;
    }

    @media screen and (min-width: $tablet) {
      font-size: 2.5rem;
      width: 550px;
    }

    @media screen and (min-width: $laptop) {
      font-size: 2.5rem;
      width: 650px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 3rem;
      width: 650px;
    }
  }

  p {
    margin-top: 16px;
    line-height: 1.5;
    font-size: 1rem;
  }

  .heroLink {
    margin-top: 40px;
    padding: 10px 80px;
    border-radius: 40px;
    border: 1px solid var(--secondary-text-color);
  }
}

@keyframes floatup {
  0% {
    transform: translateY(40px);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

// ABOUT SECTION /////////////////
.aboutSection {
  position: relative;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  @media screen and (min-width: $laptop) {
    padding: 50px 80px;
    gap: 10px 70px;

    display: grid;
    grid-template-columns: 1.75fr 1.25fr;
    grid-template-rows: 2fr 1fr;
  }

  .aboutInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;

    animation: floatup 2s ease-in-out;
    visibility: hidden;
    animation-fill-mode: forwards;

    @media screen and (min-width: $tablet) {
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .aboutTitle {
      font-size: 1.75rem;
      font-family: var(--title-text);

      @media screen and (min-width: $tablet) {
        font-size: 2.75rem;
      }
    }

    .aboutDescription {
      font-size: 1rem;

      @media screen and (min-width: $tablet) {
        font-size: 1.25rem;
        line-height: 1.25;
      }
    }
  }

  .imageSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;

    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-column: 2/3;
      grid-row: 1/3;
    }

    .aboutImage {
      border-radius: 10px;
      width: 100%;

      @media screen and (min-width: $tablet) {
        height: 100%;
        width: 100%;
      }
    }
  }

  .moreInfoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: row;
    }

    .iconsSection {
      flex: 1;
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      text-align: center;

      @media screen and (min-width: $tablet) {
        flex: 1;
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        text-align: center;
      }

      &:nth-child(3) {
        border: none;
      }

      .icon {
        height: 40px;
        width: 40px;
      }

      h6 {
        font-size: 1rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }

  .inBetween {
    background-color: var(--bg-color);
    width: 100%;
    height: 100px;
    border-radius: 50px 50px 0px 0px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
