@import './queries.module';

.heroSection {
  height: 70vh;
  width: 100vw;
  background-image: url(../../public/images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0px 20px;
  text-align: center;
  position: relative;

  @media screen and (min-width: $tablet) {
    height: 100vh;
    padding: 0px 24px;
  }

  h1,
  p,
  .heroLink {
    animation: floatup 2s ease-in-out;
    visibility: hidden;
    animation-fill-mode: forwards;
  }

  h1 {
    font-size: 1rem;
    width: 250px;

    @media screen and (min-width: $mobileM) {
      font-size: 1.35rem;
      width: auto;
    }

    @media screen and (min-width: $mobileL) {
      font-size: 1.5rem;
      width: 380px;
    }

    @media screen and (min-width: $tablet) {
      font-size: 2.5rem;
      width: auto;
    }

    @media screen and (min-width: $laptop) {
      font-size: 2.5rem;
      width: 700px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 3.5rem;
      width: 1000px;
    }
  }

  p {
    margin-top: 16px;
    line-height: 1.5;
    font-size: 1rem;

    @media screen and (max-width: $mobileL) {
      font-size: 1rem;
      width: 250px;
    }
  }

  .heroLink {
    border-radius: 40px;
    width: 200px;
    padding: 6px 0px;
    background-color: var(--main-color);

    &:hover {
      background-color: var(--bg-color);
    }

    &:active {
      transform: scale(3);
      transition: transform 0.5s ease-in-out;
    }
  }

  .inBetween {
    background-color: var(--bg-color);
    width: 100%;
    height: 50px;
    border-radius: 50px 50px 0px 0px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);

    @media screen and (min-width: $desktopL) {
      height: 100px;
      bottom: -1%;
      border-radius: 100px 100px 0px 0px;
    }
  }
}

@keyframes floatup {
  0% {
    transform: translateY(40px);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

// ABOUT SECTION /////////////////
.aboutSection {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    padding: 0px 32px;
    gap: 32px;
  }

  @media screen and (min-width: $laptop) {
    padding: 0px 56px;
    gap: 56px;
  }

  @media screen and (min-width: $desktop) {
    padding: 30px 80px 0px;
  }

  @media screen and (min-width: $desktopL) {
    padding: 50px 150px 0px;
    gap: 100px;
  }

  .aboutInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    animation: floatup 2s ease-in-out;
    visibility: hidden;
    animation-fill-mode: forwards;

    @media screen and (min-width: $tablet) {
      flex: 1.5;
    }

    @media screen and (min-width: $desktopL) {
      gap: 50px;
    }

    .topLeftContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .aboutTitle {
        font-size: 1.15rem;

        @media screen and (min-width: $mobileL) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: $tablet) {
          text-align: start;
        }

        @media screen and (min-width: $laptop) {
          font-size: 1.85rem;
        }

        @media screen and (min-width: $desktop) {
          font-size: 2.5rem;
        }

        @media screen and (min-width: $desktopL) {
          font-size: 3rem;
        }
      }

      .aboutDescription {
        font-size: 0.8rem;

        @media screen and (min-width: $mobileL) {
          font-size: 1rem;
        }

        @media screen and (min-width: $tablet) {
          text-align: start;
        }

        @media screen and (min-width: $desktop) {
          font-size: 1.25rem;
          line-height: 1.5;
        }
      }
    }

    .topBottomContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @media screen and (min-width: $tablet) {
        flex-direction: row;
        gap: 12px;
      }

      @media screen and (min-width: $desktop) {
        justify-content: space-between;
      }

      .iconsSection {
        display: flex;
        align-items: center;
        gap: 16px;

        @media screen and (min-width: $tablet) {
          flex-direction: column;
        }

        @media screen and (min-width: $desktop) {
          width: 200px;
        }

        @media screen and (min-width: $desktopL) {
          width: auto;
        }

        .icon {
          width: 50px;
          height: 50px;

          @media screen and (min-width: $mobileL) {
            width: 70px;
            height: 70px;
          }

          @media screen and (min-width: $tablet) {
            width: 40px;
            height: 40px;
          }

          @media screen and (min-width: $desktopL) {
            width: 70px;
            height: 70px;
          }
        }

        .iconInfo {
          text-align: start;
          font-size: 0.8rem;

          @media screen and (min-width: $mobileL) {
            font-size: 1rem;
          }

          @media screen and (min-width: $tablet) {
            text-align: center;
            font-size: 0.8rem;
          }

          @media screen and (min-width: $desktop) {
            font-size: 1rem;
          }

          @media screen and (min-width: $desktopL) {
            font-size: 1.15rem;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .imageSection {
    height: 200px;

    @media screen and (min-width: $tablet) {
      flex: 1;
      height: auto;
    }

    .aboutImage {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// DISCOVER SECTION //////
.discoverSection {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 24px;
  padding: 50px 20px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    padding: 50px 32px;
    gap: 32px;
  }

  @media screen and (min-width: $laptop) {
    padding: 50px 56px;
    gap: 56px;
  }

  @media screen and (min-width: $desktop) {
    padding: 80px;
  }

  @media screen and (min-width: $desktopL) {
    padding: 100px 150px;
  }

  .imageSection {
    height: 250px;

    @media screen and (min-width: $tablet) {
      flex: 1;
    }

    @media screen and (min-width: $desktop) {
      flex: 0.5;
    }

    @media screen and (min-width: $desktopL) {
      height: 350px;
    }

    .vendorImage {
      border-radius: 450px 450px 0px 0px;
      height: 100%;
      width: 100%;
    }
  }

  .infoSection {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @media screen and (min-width: $tablet) {
      flex: 1.5;
    }

    .discoverTitle {
      font-size: 1rem;
      text-align: center;

      @media screen and (min-width: $mobileL) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: $tablet) {
        text-align: start;
      }

      @media screen and (min-width: $laptop) {
        font-size: 1.85rem;
      }

      @media screen and (min-width: $desktop) {
        font-size: 2.5rem;
      }

      @media screen and (min-width: $desktopL) {
        font-size: 3rem;
      }
    }

    .discoverInfo {
      font-size: 0.8rem;
      line-height: 1.5;

      @media screen and (min-width: $mobileL) {
        font-size: 1rem;
      }

      @media screen and (min-width: $desktop) {
        font-size: 1.25rem;
      }
    }

    .exploreLink {
      border-radius: 20px;
      padding: 8px 20px;
      width: 100%;
      text-align: center;
      background-color: var(--main-color);

      &:hover {
        border: 1px solid var(--main-color);
      }

      @media screen and (min-width: $tablet) {
        width: 200px;
      }

      @media screen and (min-width: $desktop) {
        font-size: 1.25rem;
      }
    }
  }
}
