.loginContainer {
  height: 100vh;
  display: flex;

  .loginFormSide {
    width: 40%;
    padding: 160px 80px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .form {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .greeting {
        display: flex;
        flex-direction: column;
        gap: 12px;

        h1 {
          font-family: var(--title-text);
        }
      }

      .loginForm {
        display: flex;
        flex-direction: column;
        gap: 16px;

        div {
          display: flex;
          flex-direction: column;
          gap: 8px;

          label {
            font-size: 0.8rem;

            span {
              color: rgb(207, 55, 55);
            }
          }

          input {
            width: 100%;
            height: 40px;
          }

          div {
            position: relative;

            .showPasswordButton {
              background-color: transparent;
              border: none;
              position: absolute;
              top: 50%;
              right: 2%;
              transform: translate(0%, -50%);
              cursor: pointer;
            }
          }
        }

        .loginSubmit {
          height: 40px;
          width: 100%;
          background-color: var(--main-color);
          border: none;
          color: var(--secondary-text-color);
          border-radius: 5px;
          margin-top: 24px;
          text-transform: uppercase;
          letter-spacing: 1.5px;

          &:hover {
            border: 1px solid var(--secondary-text-color);
            background-color: white;
            color: var(--secondary-text-color);
            cursor: pointer;
          }
        }

        .error {
          color: rgb(207, 55, 55);
          font-size: 0.8rem;
        }
      }
    }

    .signupContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      font-size: 0.8rem;

      .registerLink {
        background-color: transparent;
        border: none;
        padding-left: 8px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .imageSide {
    width: 60%;

    .loginImage {
      height: 100%;
      width: 100%;
    }
  }
}
