@import './../styles/queries.module';

.navigation {
  display: flex;
}

.logoutButton {
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.navigationBar {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 80px;
  flex: 1;
  z-index: 9;

  @media screen and (max-width: $tablet) {
    padding: 20px;
  }

  .nav {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 30%;

    @media screen and (max-width: $tablet) {
      position: fixed;
      flex-direction: column;
      background-color: white;
      top: -250%;
      left: 0%;
      height: 300px;
      width: 100vh;
      z-index: 3;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 80px 0px 0px 50px;

      &Open {
        transition: 0.5s ease-in-out;
        top: 0;
      }
    }

    .navLinks {
      display: flex;
      justify-content: center;
      gap: 20px;

      @media screen and (max-width: $tablet) {
        flex-direction: column;
        border: none;
        font-size: 1.5rem;
      }

      .navList {
        list-style: none;
        position: relative;
        text-decoration: none;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          border-radius: 4px;
          background-color: #18272f;
          bottom: -1%;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
        }

        &:hover::before {
          transform-origin: left;
          transform: scaleX(1);
        }

        &:nth-child(2)::before {
          background-color: transparent;
        }

        &:active {
          transform: scale(3);
          transition: transform 0.5s ease-in-out;
        }
      }

      .discoverDropdown {
        position: relative;
        list-style: none;
        text-decoration: none;

        .discoverDropdownButton {
          display: flex;
          align-items: flex-end;
          cursor: pointer;
        }

        .discoverDropdownOptions {
          display: none;
        }

        &:hover .discoverDropdownOptions {
          display: flex;
          flex-direction: column;
          margin-top: 8px;

          .discoverLink {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .discoverList {
              position: relative;

              &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                border-radius: 4px;
                background-color: #18272f;
                bottom: -1%;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
              }

              &:hover::before {
                transform-origin: left;
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--title-text);
    text-transform: uppercase;
    width: 40%;
    font-size: 1.25rem;
  }

  // desktop buttons
  .desktopLoginButtons {
    display: flex;
    justify-content: flex-end;
    width: 30%;

    @media screen and (max-width: $tablet) {
      display: none;
    }

    .loggedIn {
      display: flex;
      align-items: center;
      gap: 16px;

      .desktopLoggedInLink {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          border-radius: 4px;
          background-color: #18272f;
          bottom: -1%;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
        }

        &:hover::before {
          transform-origin: left;
          transform: scaleX(1);
        }
      }

      .logoutButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 30px;
        width: 30px;

        @media screen and (max-width: $tablet) {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        // .logoutButtons {
        //   display: flex;
        //   gap: 8px;

        .logoutMobile {
          display: none;

          @media screen and (max-width: $tablet) {
            display: flex;
          }
        }

        .logoutDesktop {
          display: flex;

          @media screen and (max-width: $tablet) {
            display: none;
          }
          // }
        }
      }
    }

    .desktopLoggedOut {
      display: flex;
      align-items: center;
      gap: 12px;

      .desktopRegisterButton {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
  }

  // mobile buttons
  .loginButton {
    display: none;

    @media screen and (max-width: $tablet) {
      display: flex;
      width: 30%;
      justify-content: flex-end;
      align-items: center;
      position: relative;
    }

    .dropdownButton {
      background: transparent;
      border: none;
      font-size: 1.25rem;
      cursor: pointer;
    }

    .dropdownOptions {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      width: 150px;
      border-radius: 5px;
      box-shadow: 1px 1px 10px 6px rgba(0, 0, 0, 0.1);
      background-color: white;
      z-index: 6;

      .dropdownLink {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 3;
        padding-left: 8px;
        gap: 30px;

        .profile {
          display: flex;
          flex-direction: column;

          .username {
            display: flex;
            gap: 8px;
            align-items: center;
            text-transform: uppercase;
          }

          .myshop {
            display: flex;
            gap: 8px;
            align-items: center;
          }
        }

        .logoutLink {
          display: flex;
          align-items: center;

          .logoutButton {
            width: 100%;
            display: flex;
            gap: 8px;
            align-items: center;
          }
        }

        .loginButtons {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .loginButton {
            display: flex;
            gap: 8px;
            align-items: center;
          }

          .registerButton {
            display: flex;
            gap: 8px;
            align-items: center;
          }
        }
      }
    }
    &:hover .dropdownOptions {
      display: block;
      padding: 20px 0px;
    }
  }

  // mobile menu
  .hamburgerIcon {
    display: none;

    @media screen and (max-width: $tablet) {
      display: flex;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 4;
      font-size: 1.5rem;
      width: 30%;
      align-items: flex-start;
    }
  }
}
