@import './queries.module';

.profilePage {
  display: flex;
  flex-direction: column;
  padding: 100px 20px 80px;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    padding: 100px 80px 80px;
    gap: 20px;
  }

  .profileInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 16px;
    width: 100%;

    @media screen and (min-width: $tablet) {
      width: 60%;
    }

    .imageBox {
      height: 200px;
      width: 40%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      border: 0.1px solid var(--main-color);

      @media screen and (min-width: $tablet) {
        width: 30%;
      }
    }

    .moreInfo {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 8px;
      width: 60%;

      @media screen and (min-width: $tablet) {
        width: 70%;
      }
    }
  }

  .followingVendors {
    // height: 70%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
      font-family: var(--title-text);
    }

    .favouriteContainer {
      width: 100%;
      overflow: scroll;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;

      @media screen and (min-width: $tablet) {
        grid-template-columns: repeat(4, 1fr);
      }

      div {
        height: 300px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
      }
    }
  }
}
