.registerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 550px;
  width: 850px;
  background-color: white;
  border-radius: 10px;
  z-index: 4;
  display: flex;

  .imageSide {
    flex: 1;
    padding: 10px;

    .loginImage {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  .registerFormSide {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;

    h1 {
      margin-bottom: 8px;
      font-family: var(--title-text);
    }

    p {
      margin-bottom: 30px;
      padding-left: 16px;
      font-size: 0.8rem;
    }

    .registerForm {
      display: flex;
      flex-direction: column;
      gap: 16px;

      div {
        display: flex;
        flex-direction: column;

        label {
          font-size: 0.8rem;
          text-transform: uppercase;

          span {
            color: rgb(207, 55, 55);
          }
        }

        input {
          width: 100%;
          height: 35px;
        }

        div {
          position: relative;

          .showPasswordButton {
            position: absolute;
            top: 50%;
            right: 1%;
            transform: translate(0%, -50%);
            background-color: transparent;
            border: none;
            font-size: 0.8rem;
          }
        }
      }

      .registerSubmit {
        height: 40px;
        width: 100%;
        background-color: var(--secondary-text-color);
        border: none;
        color: white;
        border-radius: 5px;
        margin-top: 24px;
        text-transform: uppercase;
        letter-spacing: 1.5px;

        &:hover {
          border: 1px solid var(--secondary-text-color);
          background-color: white;
          color: var(--secondary-text-color);
          cursor: pointer;
        }
      }
    }

    .loginContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      font-size: 0.8rem;

      .loginButton {
        background-color: transparent;
        border: none;
        padding-left: 8px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
