@import '../styles//queries.module';

.shopsPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  gap: 16px;
  min-height: 100vh;

  .shopsPageTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .shopListContainer {
    display: grid;
    gap: 20px;
    padding: 0px 20px;
    grid-template-columns: 1fr;

    @media screen and (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    @media screen and (min-width: $laptop) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    @media screen and (min-width: $desktop) {
      grid-template-columns: repeat(4, 1fr);
      gap: 50px;
      padding: 0px 50px;
    }

    .shopContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border: 0.5px solid var(--secondary-text-color);
      min-height: 450px;
      padding: 16px;

      .link {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .titleContainer {
          display: flex;
          flex-direction: column;

          .shopName {
            font-size: 1.5rem;
            font-family: var(--title-text);
            text-align: center;
          }

          .shopLocation {
            text-align: center;
            font-size: 0.8rem;
          }
        }

        .imageContainer {
          width: 100%;
          height: 300px;

          .shopImage {
            width: 100%;
          }
        }
      }
    }
  }
}

// my shop page styling
.myShopContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .noShopFoundMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
