@import './../styles/queries.module';

.navigationBar {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex: 1;

  @media screen and (min-width: $tablet) {
    padding: 20px 80px;
  }

  .logo {
    display: flex;
    gap: 20px;
    width: 20%;
    font-family: var(--title-text);
    text-transform: uppercase;
  }

  nav {
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
      width: 60%;
    }

    .navLinks {
      @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;
        gap: 24px;
      }
    }
  }

  .right {
    display: none;

    @media screen and (min-width: $tablet) {
      width: 20%;
      display: flex;
      justify-content: flex-end;
    }

    .loginButton {
      display: none;

      @media screen and (min-width: $tablet) {
        display: flex;
        padding: 8px 30px;
        border-radius: 30px;
        background-color: var(--main-color);
      }
    }
  }
}

// .navigationBar {
//   position: absolute;
//   width: 100%;
//   z-index: 2;

//   nav {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin: 20px 50px;
//     padding: 0px 20px;
//     border-radius: 50px;
//     background-color: #ffffffa3;

//     .left {
//       display: flex;
//       align-items: center;
//       gap: 50px;

//       .logo {
//         font-size: 2rem;
//         font-family: var(--logo-text);
//         color: var(--secondary-text-color);
//       }

//       .navLinks {
//         display: flex;
//         gap: 20px;

//         .navList {
//           font-size: 0.9rem;
//           text-transform: uppercase;
//           color: var(--secondary-text-color);
//         }

//         @media (max-width: 900px) {
//           display: none;
//         }
//       }
//     }

//     .right {
//       display: flex;
//       gap: 20px;

//       .loginButton {
//         // padding: 6px 30px;
//         // border-radius: 10px;
//         // background-color: var(--accent-color);
//         color: var(--secondary-text-color);
//         cursor: pointer;
//         text-transform: uppercase;
//         // letter-spacing: 1.5px;
//       }

//       @media (max-width: 900px) {
//         display: none;
//       }
//     }
//   }
// }

.menuButton {
  display: none;
  border: none;
  background: transparent;

  .hamburgerIcon,
  .closeIcon {
    font-size: 2rem;
  }

  @media (max-width: 900px) {
    display: block;
  }
}

.footer {
  height: 70px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    gap: 30px;
  }
}
