@import './../styles/queries.module';

.navigationBar {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  flex: 1;

  @media screen and (max-width: $tablet) {
    padding: 20px;
  }

  .logo {
    display: flex;
    gap: 20px;
    font-family: var(--title-text);
    text-transform: uppercase;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    @media screen and (max-width: $tablet) {
      position: fixed;
      flex-direction: column;
      background-color: white;
      top: 0;
      right: -100%;
      width: 50%;
      height: 100vh;
      z-index: 3;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 80px 0px 0px 50px;

      &Open {
        transition: 0.2s ease right;
        right: 0;
      }
    }

    .navLinks {
      display: flex;
      justify-content: center;
      gap: 24px;
      border-right: 1.5px solid black;
      padding-right: 20px;

      @media screen and (max-width: $tablet) {
        flex-direction: column;
        border: none;
        font-size: 1.5rem;
        border-bottom: 1.5px solid black;
        padding-bottom: 20px;
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      padding-left: 20px;

      @media screen and (max-width: $tablet) {
        padding: 0px;
      }

      .loginButton {
        display: flex;

        @media screen and (max-width: $tablet) {
          padding-top: 20px;
          font-size: 1rem;
          text-transform: uppercase;
        }
      }
    }
  }

  .hamburgerIcon {
    display: none;

    @media screen and (max-width: $tablet) {
      display: block;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 4;
      font-size: 1.5rem;
    }

    div {
      @media screen and (max-width: $tablet) {
        width: 20px;
        height: 2px;
        background: black;
        margin: 4px;
        transition: 0.3s ease-in;
      }
    }
  }
}

// FOOTER /////////////////////

.footer {
  height: 150px;
  // background-color: rgba(0, 0, 255, 0.178);
  margin: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;

  div {
    display: flex;
    gap: 30px;
  }
}
