@import './../styles/queries.module';

.navigation {
  display: flex;
}

.logoutButton {
  background: transparent;
  border: none;
  font-size: 1rem;
}

.navigationBar {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  flex: 1;

  div {
    display: flex;
    gap: 10px;
  }

  @media screen and (max-width: $tablet) {
    padding: 20px;
  }

  .nav {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 30%;

    @media screen and (max-width: $tablet) {
      position: fixed;
      flex-direction: column;
      background-color: white;
      left: -100%;
      top: 0%;
      height: 100vh;
      width: 50%;
      z-index: 3;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 80px 0px 0px 50px;

      &Open {
        transition: 0.5s ease-in-out;
        left: 0;
      }
    }

    .navLinks {
      display: flex;
      justify-content: center;
      gap: 20px;

      @media screen and (max-width: $tablet) {
        flex-direction: column;
        border: none;
        font-size: 1.5rem;
      }
    }

    // .right {
    //   display: flex;
    //   justify-content: flex-end;
    //   padding-left: 20px;

    //   @media screen and (max-width: $tablet) {
    //     padding: 0px;
    //   }

    //   .loginButton {
    //     display: flex;

    //     @media screen and (max-width: $tablet) {
    //       padding-top: 20px;
    //       font-size: 1rem;
    //       text-transform: uppercase;
    //     }
    //   }
    // }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--title-text);
    text-transform: uppercase;
    width: 40%;
    font-size: 1.25rem;
  }

  .loginButton {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  // mobile menu
  .hamburgerIcon {
    display: none;

    @media screen and (max-width: $tablet) {
      display: flex;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 4;
      font-size: 1.5rem;
      width: 30%;
      align-items: flex-start;
    }

    div {
      @media screen and (max-width: $tablet) {
        width: 20px;
        height: 2px;
        background: black;
        margin: 4px;
        transition: 0.3s ease-in;
      }
    }
  }
}

// FOOTER /////////////////////

.footer {
  height: 150px;
  // background-color: rgba(0, 0, 255, 0.178);
  margin: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;

  div {
    display: flex;
    gap: 30px;
  }
}
