@import './queries.module';

// HERO SECTION ///////////////////////////////////////
.heroSection {
  height: 97vh;
  background-image: url(../public/images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 16px;

  @media screen and (min-width: $tablet) {
    margin: 10px 10px 0px;
    border-radius: 30px;
  }

  h1,
  p,
  .heroLink {
    animation: floatup 2s ease-in-out;
    visibility: hidden;
    animation-fill-mode: forwards;
  }

  h1 {
    font-family: var(--title-text);
    font-size: 1.7rem;

    @media screen and (min-width: $tablet) {
      font-size: 2.5rem;
      width: 550px;
    }

    @media screen and (min-width: $laptop) {
      font-size: 2.5rem;
      width: 550px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 3rem;
      width: 550px;
    }
  }

  p {
    margin-top: 16px;
    line-height: 1.5;
    font-size: 1rem;
  }

  .heroLink {
    margin-top: 40px;
    padding: 16px 80px;
    border: 1px solid var(--main-color);
    border-radius: 40px;
    background-color: var(--bg-color);
  }
}

@keyframes floatup {
  0% {
    transform: translateY(40px);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

// ABOUT SECTION ///////////////////////////////////////
.aboutSection {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 0.75fr 2.25fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 50px 50px 0px;
    text-align: start;

    .highlights {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  h2 {
    font-family: var(--title-text);
    font-size: 1.5rem;

    @media screen and (min-width: $laptop) {
      font-size: 2.5rem;
      text-align: start;
    }
  }

  .introduction {
    margin-top: 16px;
    font-size: 0.9rem;
    line-height: 1.75;

    @media screen and (min-width: $laptop) {
      font-size: 1.5rem;
      line-height: 1.25;
      text-align: start;
    }
  }

  .highlights {
    padding-top: 50px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      padding-top: 20px;
      flex-direction: row;
      gap: 16px;
      text-align: start;
    }

    div {
      margin-top: 16px;

      @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;
        border-right: 0.5px solid black;
        padding: 8px;

        &:nth-child(3) {
          border: none;
        }

        .iconHidden {
          display: none;
        }

        h6 {
          font-size: 0.5rem;
        }

        h4 {
          display: none;
        }

        p {
          font-size: 0.8rem;
        }
      }

      @media screen and (min-width: $laptop) {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .iconHidden {
          display: none;
        }

        h6 {
          font-size: 1rem;
        }

        h4 {
          display: none;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}

// DISCOVER SECTION ////////////////////////////////
// .discoverSection {
//   display: flex;
//   flex-direction: column;

//   @media screen and (min-width: $tablet) {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 40px;
//     padding: 50px;
//   }

//   .imageContainer {
//     @media screen and (min-width: $tablet) {
//       width: 40%;
//     }
//   }

//   .discoverImage {
//     width: 100%;
//     height: 350px;
//     border-radius: 400px 400px 0px 0px;

//     @media screen and (min-width: $tablet) {
//       width: 100%;
//       height: 300px;
//     }
//     @media screen and (min-width: $laptop) {
//       width: 100%;
//       height: 530px;
//     }
//   }

//   .textContainer {
//     text-align: center;

//     @media screen and (min-width: $tablet) {
//       text-align: start;
//       width: 60%;
//     }

//     h2 {
//       margin-top: 16px;
//       font-size: 1.15rem;
//       font-family: var(--title-text);

//       @media screen and (min-width: $tablet) {
//         font-size: 1.5rem;
//       }

//       @media screen and (min-width: $laptop) {
//         font-size: 2.75rem;
//         line-height: 1.5;
//       }
//     }

//     p {
//       margin: 16px 0px 20px;
//       font-size: 0.8rem;

//       @media screen and (min-width: $tablet) {
//         font-size: 1rem;
//       }

//       @media screen and (min-width: $laptop) {
//         font-size: 1.5rem;
//         line-height: 1.5;
//       }
//     }

//     .discoverButton {
//       padding: 6px 20px;
//       border: 1px solid var(--main-color);
//       border-radius: 30px;

//       @media screen and (min-width: $laptop) {
//         padding: 10px 30px;
//       }
//     }
//   }
// }
// STATICTICS ///////////////
.statistics {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    padding: 0px 50px;
  }

  .potteryImage {
    width: 100%;
    height: 150px;
    border-radius: 20px;

    @media screen and (min-width: $tablet) {
      height: 300px;
      border-radius: 20px;
    }

    @media screen and (min-width: $laptop) {
      height: 400px;
      padding: 0px 80px;
      border-radius: 20px;
    }
  }

  .information {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;

    @media screen and (min-width: $tablet) {
      justify-content: center;
      flex-direction: row;
      gap: 0px;
    }

    div {
      @media screen and (min-width: $tablet) {
        border-right: 1px solid black;
        text-align: center;
        padding: 0px 16px;

        &:nth-child(4) {
          border: none;
        }
      }
      @media screen and (min-width: $laptop) {
        padding: 0px 90px;
      }

      h3 {
        font-size: 1.5rem;
        font-family: var(--title-text);

        @media screen and (min-width: $laptop) {
          font-size: 2rem;
        }
      }
    }
  }
}
