// .loginPage {
//   position: relative;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 3;
  overflow: hidden;
}
// }

.loginPage {
  height: 90vh;
  background-image: url('./../../../public/images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  margin: 0px 10px 10px 10px;
}

// LOGIN FORM
.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 550px;
  width: 850px;
  background-color: white;
  border-radius: 10px;
  z-index: 4;
  display: flex;

  .imageSide {
    flex: 1;
    padding: 10px;

    .loginImage {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  .loginFormSide {
    flex: 1;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    position: relative;

    .closeModalButton {
      position: absolute;
      top: 3%;
      right: 3%;
      font-size: 2rem;
    }

    h1 {
      margin-bottom: 8px;
      font-family: var(--title-text);
    }

    p {
      margin-bottom: 30px;
      padding-left: 16px;
    }

    .loginForm {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        font-size: 0.8rem;
        text-transform: uppercase;

        span {
          color: rgb(207, 55, 55);
        }
      }

      .passwordLabel {
        margin-top: 16px;
      }

      .loginInput,
      .passwordInput {
        width: 100%;
        height: 40px;
      }

      div {
        position: relative;

        .showPasswordButton {
          background-color: transparent;
          border: none;
          position: absolute;
          top: 50%;
          right: 1%;
          transform: translate(0%, -50%);
        }
      }

      .loginSubmit {
        height: 40px;
        width: 100%;
        background-color: var(--secondary-text-color);
        border: none;
        color: white;
        border-radius: 5px;
        margin-top: 24px;
        text-transform: uppercase;
        letter-spacing: 1.5px;

        &:hover {
          border: 1px solid var(--secondary-text-color);
          background-color: white;
          color: var(--secondary-text-color);
          cursor: pointer;
        }
      }
    }

    .signupContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 80px;
      font-size: 0.8rem;

      .registerButton {
        background-color: transparent;
        border: none;
        padding-left: 8px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
